!!!
%html
  %head
    %title= yield(:title) + " - Nate McGarigal Photography & Cinematography"
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render "shared/primary_menu"
    = yield
